# Python
venv/
env/
.venv
ENV/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Env
.env

# Data & models
data/
module_rag/data/vectordb/
module_rag/data/documents/
module_vision/data/
module_vision/models/
runs/
*.pt
*.pth
*.onnx

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swppolyaqua.db
